<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Account List</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="text-right">
        <form th:action="@{/logout}" method="post">
            <p>
                Welcome <b>[[${#request.userPrincipal.principal.Name}]]</b>
            </p>
            <input type="submit" value="Sign Out" />
        </form>
    </div>
    <div class="text-left">
        <div style="border: 1px solid #ccc; padding: 5px; margin-bottom: 20px;">
            <a th:href="@{/user_list}">Users</a> | &nbsp;
            <a th:href="@{/product_list}">Product</a> |
           	<a th:href="@{/cart_list}">cart</a> |
            <a th:href="@{/account_list}">Account</a> |

        </div>
    </div>
    <div align="center">
        <h3>Account Details</h3>
        <a href="new_account">Create New Account</a>
    </div>
    <div class="text-center">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>TYPE</th>
               <th>Account Number</th>
                <th>Account Name</th>
                <th>Bank Name</th>
                <th>User Name</th>
              

                <th>ACTIONS</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="account : ${listAccounts}">
                <td th:text="${account.id}">ID</td>
                <td th:text="${account.type}">Type</td>
               <td th:text="${account.accNo}">Account No</td>
                <td th:text="${account.accName}">Account Name</td>
                <td th:text="${account.bankName}">BankName</td>
                <td th:text="${account.assignedTo.userName}">User</td>
              
                <td>
                    <a th:href="@{'/edit_account/' + ${account.id}}">Edit</a>
                    <a th:href="@{'/delete_account/' + ${account.id}}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>