<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Create New Product</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container text-center">
	<div align="center">
		<h1>Create New Product</h1>
	</div>
		<form  th:action="@{/save_product}" th:object="${product}"
			method="post" style="max-width: 600px; margin: 0 auto;">

			<div class="m-3">
				<div class="form-group row">
					<label class="col-4 col-form-label">Product Name: </label>
					<div class="col-8">
						<input type="text" th:field="*{name}" class="form-control" autocomplete="off"
							   required minlength="2" maxlength="20"/>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-4 col-form-label">Product Price: </label>
					<div class="col-8">
						<input type="text" th:field="*{price}" class="form-control" autocomplete="off"
							   required minlength="2" maxlength="20"/>
					</div>
				</div>
				<div>
					<button type="submit" class="btn btn-primary">Save</button>
					<button type="reset" class="btn btn-primary" value="Reset">Reset</button>
					<button class="btn btn-primary" onclick="goBack()">Go Back</button>
				</div>
			</div>
		</form>

</div>
<script>
function goBack() {
  window.history.back();
}
</script>
</body>
</html>